@font-face {
  font-family: "Franklin";

  src: local("Franklin");
  src: url("/src/assets/fonts/Franklin\ Gothic\ Medium\ Cond\ Regular.ttf")
    format("truetype");

  font-weight: normal;
  font-style: normal;
}

.input-container {
  min-width: 385px;
  /* height: 20%; */
  background: #cfe8ff;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  box-shadow: 2px 2px 5px rgb(132, 132, 132);
}
.info-input {
  display: flex;
  align-items: center;
  justify-content: center;

  width:90%;
  /* height: 100%; */

  margin: 5px;
}
.form-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.inpute {
  font-family: "Franklin" !important;
  width: 20%;
  margin: 2px;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgb(132, 132, 132);
}
.pelake {
  width: 100%;
  border: none;

  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pelak {
  margin: 1px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 3px;
  text-align: center;
  width: 20%;
  height: 30px;
  background: #fbfbfb;
  border: none;
  outline: none;
}
.submit-btn {
  cursor: pointer;
  width: 100px;
  height: 35px;
  background: #ed1206;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgb(132, 132, 132);
  margin-bottom: 5px;
  color: rgb(204, 204, 204);
  font-weight: 600;
  transition: all 160ms linear;
}
.submit-btn:hover {
  box-shadow: 2px 2px 5px rgb(66, 66, 66);
  background: #db3a09;
  color: rgb(86, 86, 86);
}
.checkbox-container {
  width: 60%;
  display: flex;
  justify-content: space-between;

  margin-top: 5px;
}

@media screen and (max-width: 680px) {
  .input-container {
    width: 100%;

    background: #cfe8ff;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 2px 2px 5px rgb(132, 132, 132);
  }
  .form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .inpute {
    width: 100%;
    height: 35px;
    margin: 10px;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgb(132, 132, 132);
  }
  .pelake {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pelak {
    margin: 1px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 3px;
    text-align: center;
   
    height: 30px;
    background: #fbfbfb;
    border: none;
    outline: none;
  }
}

@media screen and (max-width: 390px) {
  .input-container {
    width: 100vw;

    background: #cfe8ff;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 2px 2px 5px rgb(132, 132, 132);
  }
}
